<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Url Shortner</title>
  </head>
  <body>
    <!-- TODO! Add Correct Input fileds -->
    <form
      action="/auth_user"
      method="POST"
    >
      <h2>Log In</h2>
      <input
        name="email"
        type="email"
        id="email"
        placeholder="Enter email"
      />
      <input
        name="password"
        type="password"
        id="password"
        placeholder="Enter password"
      />

      <br />
      <button>SignIn</button>
    </form>
  </body>
</html>
