doctype html 
html
    head 
    body 
        form(action="/shorturl/short_url_gen" method="POST")
            h4 Log In
            input(type="url" name="url" id="url" placeholder="Enter url")
            br 
            button Generate