<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Url Shortner</title>
  </head>
  <body>
    <form
      action="/shorturl/short_url_gen"
      method="POST"
    >
      <h4>Get shorturl</h4>
      <input
        name="url"
        type="url"
        id="url"
        placeholder="input url"
      />

      <br />
      <button>Genarete</button>
    </form>
  </body>
</html>
